.card {
    border: 1px solid var(--accent);
    border-radius: 20px;
    padding: 20px;
    height: 200px;
    width: auto;

    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;

    img{
        height: 100%;
        width: 40%;
        display: block;
        object-fit: cover;
        object-position: center center;

        border-radius: 20px;
    }
}

.card .content {
    padding-left: 20px;
    width: 60%;

    h2 {
        margin: 0;
    }

    p {
        margin: 0;
    }

    a {
        color: var(--accent);
        float: right;
    }
}
