<div class="max-width">
    <h1>My Profile</h1>
    <h4>
        If you are interested in checking out my Curriculum Vitae,
        <br>
        this is the section you are looking for.
    </h4>
    <div id="dashboard">
        <div class="section">
            <h3>Work experience</h3>
            <div class="body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem sunt officia officiis mollitia! Itaque dolore harum totam provident a sed voluptates. Ullam dolorum, adipisci voluptate vitae provident quia porro fuga.
            </div>
        </div>
        <div class="section">
            <h3>Work experience</h3>
            <div class="body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem sunt officia officiis mollitia! Itaque dolore harum totam provident a sed voluptates. Ullam dolorum, adipisci voluptate vitae provident quia porro fuga.
            </div>
        </div>
    </div>
</div>