$laptop-wd: 1024px;
$tablet-wd: 800px;

*{
    color: var(--font);
    
    div{
        padding: 0;
    }
}

h1{
    margin: 0;
    margin-top: 50px;
    color: var(--accent);
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h4{
    color: var(--font);
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-top: 10px;
    margin-bottom: 50px;
}

.section{
    border: 1px solid var(--accent);
    border-radius: 10px;

    *{
        margin: 0;
        padding: 1rem;
    }

    .body{
        border-top: 1px solid var(--accent);
    }

    .item{
        padding: 0;
        display: flex;
        flex-flow: column;

        h3{
            color: var(--primary);
        }
        
    }

    .item .header{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-start;
        padding: 0;

        svg{
            width: 75px;
            object-position: center center;
        }

        h4{
            color: var(--primary);
            padding-top: 7px;
            padding-bottom: 7px;
            border-left: 2px solid var(--primary);
            font-weight: 500;
            font-size: 0.8rem;
        }
    }

    .item .subitem{
        padding: 0;
        padding-left: 40px;
        padding-top: 10px;
        padding-bottom: 10px;

        h5{
            padding: 0;
            color: var(--font);
        }

        h6{
            padding: 0;
            color: var(--font);
            font-weight: 400;
        }
    }

}

#tags{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;

    li{
        background-color: var(--accent);
        color: var(--secondary);
        font-size: 0.8rem;
        border-radius: 7px;
        display: block;
        padding: 0;
        padding-left: 10px;
        padding-right: 10px;
        margin-right: 5px;
        margin-bottom: 10px;
        cursor: pointer;
        transition: all ease-in-out 250ms;
    }

    li:hover{
        background-color: var(--secondary);
        color: var(--accent);
    }
}

#grid{
    display: grid;
    align-items: stretch;
    justify-content: stretch;
    grid-template-columns: repeat(3, 1fr);

    margin-left: auto;
    margin-right: auto;

    grid-row-gap: 30px;
    grid-column-gap: 30px;

    overflow-x: hidden;
}

#double-column{
    grid-column: auto / span 2;

    background-color: var(--accent);
    color: var(--secondary);
}


@media screen and (max-width: $laptop-wd) {

    #grid{
        grid-template-columns: repeat(2, 1fr);
    }
    
}

@media screen and (max-width: $tablet-wd) {

    #grid{
        grid-template-columns: repeat(1, 1fr);
    }

    #double-column{
        grid-column: auto / span 1;
    }
    
}
