<header>
    <!-- Navigation -->
    <ul id="nav-bar">
        <li><a routerLink="/blog">Blog</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/contact-me">Contact Me</a></li>
    </ul>
</header>
<div class="max-width">
    <div id="section1" class="flex-container">
        <img src="https://picsum.photos/200/300" alt="Profile photo of Lucas Vidmar">
        <div>
            <h1>Lucas Vidmar</h1>
            <p>
                Welcome to my <b>website</b>, I designed this virtual 
                space with the intention of putting together all 
                my <b>info</b>, <b>ideas</b> and <b>interests</b> in one place, and 
                make them accessible to the world.
            </p>
            <button routerLink="/about">Check out my profile</button>
        </div>
    </div>
    <br>
    <div id="section2" class="flex-container">
        <div>
            <h2>About Me</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi voluptatibus ullam dolorum eligendi earum facilis, ex animi dignissimos libero! Impedit a fuga nostrum eaque distinctio magnam delectus quidem adipisci nobis.
            </p>
        </div>
        <img src="https://picsum.photos/300/300" alt="Photo of Lucas Vidmar">
    </div>
</div>